.desk {
  margin-left: auto;
  margin-right: auto;
  width: 90%;

}
.btn {
  border: solid 1px black;
  border-radius: 0.5em;
  margin: 3px;
  width: 8em;
  height: 2em;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  user-select: none;
}

.btn:hover {
  background-color: #e7f5ff;
}
.task {

  border: solid 1px black;
  padding: 3px;
  user-select: none;
}

.task-main {
  display: flex;
}

.task:hover {
  background-color: #ffe1e1;
}

.form {
  background-color: aliceblue;
  height: 40%;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px black;
  border-radius: 0.5em;
  padding: 10px;
  text-align: center;
  align-items: center;
;


}

.form-title {
  text-align: center;
  font-size: 24px;
}

.input-text {
  width: 95%;
  height: 2em;
}

.description {
 background-color: #2d7010;
  display: block;
}

.remove {
  padding-left: 5px;
}

.remove:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../src/svg/delete.svg);
  background-size: contain;
  margin-right: 5px;
}

.edit {
  padding-left: 5px;
}
.edit:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../src/svg/edit.svg);
  background-size: contain;
  margin-right: 5px;
}
