.desk {
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.btn {
  border: solid 1px black;
  border-radius: 0.5em;
  margin: 3px;
  width: 8em;
  height: 2em;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  user-select: none;
}

.btn:hover {
  background-color: #e7f5ff;
}
.task {
  display: none;
  display: flex;
  border: solid 1px black;
  padding: 3px;

}


.form {
  background-color: aliceblue;
  height: 40%;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px black;
  border-radius: 0.5em;
  padding: 10px;
  text-align: center;
  align-items: center;
;


}

.form-title {
  text-align: center;
}

.input-text {
  margin-top: 1em;
  width: 95%;
  height: 2em;

}
